<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h1>Busstationen</h1>

      <table class="table" id="positions">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Zone</th>
          <th scope="col">Buslinien</th>
          <th scope="col">Punkte</th>
          <th scope="col"></th>
        </tr>

        <%= render partial: 'positions/position', collection: @positions, as: :position %>
      </table>
    </div>
    <div class="col-4">
      <h1>Zonen</h1>

      <div id="zone-errors"></div>
      <table class="table" id="zones">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Preis</th>
          <th scope="col"></th>
        </tr>
        <%= render partial: 'zone_row', collection: @zones, as: :zone %>
      </table>
    </div>
    <div class="col-4">
      <h1>Bewilligungen</h1>
      <div id="permit-errors"></div>
      <table class="table" id="zones">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Preis</th>
          <th scope="col"></th>
        </tr>
        <%= render partial: 'permit_row', collection: @permits, as: :permit %>
      </table>
    </div>
  </div>
</div>

